/* ESTILOS GERAIS */

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
	color: #1ba8b9;
}

.apresentacao>h1 {
	font-size: 1.5rem;
}

.header {
	background: #02a6c9;
}

.cadastro>h1 {
	color: #ffffff;
	padding-top: 1.5vw;
}

#signup {
	background-color: #93c03f;
	margin-top: 1.5vw;
	box-shadow: 2px 2px #799e34;
	border: none;
}

.form-content>button {
	color: #ffffff;
	background-color: #80d1e4;
	border: none;
	cursor: pointer;
}

.background-container {
	background-color: #c6eef6;
}

/* redimensionando a imagem para ficar responsiva */

.apresentacao>img {
	width: 20vw;
}

/* plano de fundo do modal de login */
#id01.modal {
	background-color: #02a6c9;
	background-color: rgba(0,169,206,.7);
}

.main-container {
	width: 70vw;
	text-align: center;
	margin-left: auto;
    margin-right: auto;	
}

.main-container>h1 {
	color: #93c03f;
	padding: 30px;
}

/* Ajustes do formulário de cadastro */

.cadastro {
	width: 50vh;
	background: #80d1e4;
	border-radius: 10px;
}

.form-content {
	width: 43vh;
	margin-left: auto;
    margin-right: auto;	
}

/* fim do formulário de cadastro */

.apresentacao {
	width: 350px;
	height: 500px;
}

.secondary-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.finalizar-cadastro {
	width: 70vw;
	text-align: center;
	margin-left: auto;
    margin-right: auto;	
}

.form-fields {
	display: -ms-grid;
	display: grid;
}

.finalizar-cadastro>h1 {
	color: #93c03f;
	padding: 30px;
}

